<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="producerProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
        		<prop key="serializer.class">kafka.serializer.DefaultEncoder</prop>
        		<prop key="metadata.broker.list">${metadata.broker.list}</prop>
        		<prop key="producer.type">async</prop>
            </props>
        </property>
    </bean>
    
    <bean id="producerConfig" class="kafka.producer.ProducerConfig">
		<constructor-arg index="0" ref="producerProperties" />
	</bean>
    
	<bean id="producer" class="kafka.javaapi.producer.Producer">
		<constructor-arg index="0" ref="producerConfig" />
	</bean>

	<bean id="messageProducer" class="com.appleframework.jms.kafka.producer.KafkaMessageProducer">
		<property name="producer" ref="producer" />
		<property name="topic" value="${metadata.topic:ums_collect}" />
	</bean>
	
</beans>