<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.ums.server.storage.dao.ChannelProductEntityMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.ums.server.core.entity.ChannelProductEntity" >
    <id column="cp_id" property="cpId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="updateurl" property="updateurl" jdbcType="VARCHAR" />
    <result column="entrypoint" property="entrypoint" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="productkey" property="productkey" jdbcType="VARCHAR" />
    <result column="man" property="man" jdbcType="BIT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cp_id, description, updateurl, entrypoint, location, version, date, productkey, man, 
    user_id, product_id, channel_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ums_channel_product
    where cp_id = #{cpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ums_channel_product
    where cp_id = #{cpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.appleframework.ums.server.core.entity.ChannelProductEntity" >
    insert into ums_channel_product (cp_id, description, updateurl, 
      entrypoint, location, version, 
      date, productkey, man, 
      user_id, product_id, channel_id
      )
    values (#{cpId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{updateurl,jdbcType=VARCHAR}, 
      #{entrypoint,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{productkey,jdbcType=VARCHAR}, #{man,jdbcType=BIT}, 
      #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.appleframework.ums.server.core.entity.ChannelProductEntity" >
    insert into ums_channel_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cpId != null" >
        cp_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="updateurl != null" >
        updateurl,
      </if>
      <if test="entrypoint != null" >
        entrypoint,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="productkey != null" >
        productkey,
      </if>
      <if test="man != null" >
        man,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cpId != null" >
        #{cpId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateurl != null" >
        #{updateurl,jdbcType=VARCHAR},
      </if>
      <if test="entrypoint != null" >
        #{entrypoint,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="productkey != null" >
        #{productkey,jdbcType=VARCHAR},
      </if>
      <if test="man != null" >
        #{man,jdbcType=BIT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.appleframework.ums.server.core.entity.ChannelProductEntity" >
    update ums_channel_product
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateurl != null" >
        updateurl = #{updateurl,jdbcType=VARCHAR},
      </if>
      <if test="entrypoint != null" >
        entrypoint = #{entrypoint,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="productkey != null" >
        productkey = #{productkey,jdbcType=VARCHAR},
      </if>
      <if test="man != null" >
        man = #{man,jdbcType=BIT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
    </set>
    where cp_id = #{cpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appleframework.ums.server.core.entity.ChannelProductEntity" >
    update ums_channel_product
    set description = #{description,jdbcType=VARCHAR},
      updateurl = #{updateurl,jdbcType=VARCHAR},
      entrypoint = #{entrypoint,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      productkey = #{productkey,jdbcType=VARCHAR},
      man = #{man,jdbcType=BIT},
      user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER}
    where cp_id = #{cpId,jdbcType=INTEGER}
  </update>
</mapper>