<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.ums.server.storage.dao.DeviceTagEntityMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.ums.server.core.entity.DeviceTagEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="appkey" property="appkey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, deviceid, tags, appkey
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ums_device_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ums_device_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.appleframework.ums.server.core.entity.DeviceTagEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_device_tag (deviceid, tags, appkey
      )
    values (#{deviceid,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{appkey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.appleframework.ums.server.core.entity.DeviceTagEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_device_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        deviceid,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="appkey != null" >
        appkey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceid != null" >
        #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null" >
        #{appkey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.appleframework.ums.server.core.entity.DeviceTagEntity" >
    update ums_device_tag
    <set >
      <if test="deviceid != null" >
        deviceid = #{deviceid,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null" >
        appkey = #{appkey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appleframework.ums.server.core.entity.DeviceTagEntity" >
    update ums_device_tag
    set deviceid = #{deviceid,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      appkey = #{appkey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>