<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.ums.server.storage.dao.NetworkTypeEntityMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.ums.server.core.entity.NetworkTypeEntity" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.appleframework.ums.server.core.entity.NetworkTypeEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_networktype (type)
    values (#{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.appleframework.ums.server.core.entity.NetworkTypeEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_networktype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>