<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.ums.server.storage.dao.RegionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.ums.server.core.entity.RegionEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="level_type" property="levelType" jdbcType="SMALLINT" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="merger_name" property="mergerName" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="third_code" property="thirdCode" jdbcType="VARCHAR" />
    <result column="region_path" property="regionPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parent_id, short_name, level_type, city_code, zip_code, merger_name, lng, 
    lat, pinyin, third_code, region_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ums_region
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ums_region
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.appleframework.ums.server.core.entity.RegionEntity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_region (name, parent_id, short_name, 
      level_type, city_code, zip_code, 
      merger_name, lng, lat, 
      pinyin, third_code, region_path
      )
    values (#{name,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{shortName,jdbcType=VARCHAR}, 
      #{levelType,jdbcType=SMALLINT}, #{cityCode,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{mergerName,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, 
      #{pinyin,jdbcType=VARCHAR}, #{thirdCode,jdbcType=VARCHAR}, #{regionPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.appleframework.ums.server.core.entity.RegionEntity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="levelType != null" >
        level_type,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="mergerName != null" >
        merger_name,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
      <if test="thirdCode != null" >
        third_code,
      </if>
      <if test="regionPath != null" >
        region_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="levelType != null" >
        #{levelType,jdbcType=SMALLINT},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="mergerName != null" >
        #{mergerName,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="thirdCode != null" >
        #{thirdCode,jdbcType=VARCHAR},
      </if>
      <if test="regionPath != null" >
        #{regionPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.appleframework.ums.server.core.entity.RegionEntity" >
    update ums_region
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="levelType != null" >
        level_type = #{levelType,jdbcType=SMALLINT},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="mergerName != null" >
        merger_name = #{mergerName,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="thirdCode != null" >
        third_code = #{thirdCode,jdbcType=VARCHAR},
      </if>
      <if test="regionPath != null" >
        region_path = #{regionPath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appleframework.ums.server.core.entity.RegionEntity" >
    update ums_region
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      short_name = #{shortName,jdbcType=VARCHAR},
      level_type = #{levelType,jdbcType=SMALLINT},
      city_code = #{cityCode,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      merger_name = #{mergerName,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      pinyin = #{pinyin,jdbcType=VARCHAR},
      third_code = #{thirdCode,jdbcType=VARCHAR},
      region_path = #{regionPath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>